* {
    margin: 0%;
}
/*Batman*/
#Batman {
    margin: 20px;
    padding: 20px;
    background-color: black;
    color: white;
    border-width: 5px;
    border-style: solid;
    border-color: yellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*Wonder Woman*/
#Wonder-Woman {
    margin: 20px;
    padding: 20px;
    background-color: red;
    color: yellow;
    border-width: 5px;
    border-style: solid;
    border-color: blue;
    font-family: monospace;
    font-size: 120%;
}
/*Superman*/
.Red {
    color: red;
    font-size: 50px;
}
.Blue{
    color: royalblue;
    font-size: 50px;
}
.White {
    color: white;
    font-size: 50px;
}
#Superman {
    margin: 20px;
    padding: 20px;
    background-color: blue;
    color: white;
    border-width: 5px;
    border-style: solid;
    border-color: white;
    font-family: fantasy;
}
#superman-title {
    text-align: center;
    border-bottom: white;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 10px;
}
/*SpiderMan*/
#Spiderman {
    margin: 20px;
    padding: 20px;
    background-color: red;
    color: white;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    font-family: 'MedievalSharp', cursive;
}
/*Iron Man*/
#Iron-Man{
    margin: 20px;
    padding: 20px;
    background-color: maroon;
    color: white;
    border-width: 5px;
    border-style: solid;
    border-color: gold;
    font-family: monospace;
}
/*Thor*/
#Thor{
    margin: 20px;
    padding: 20px;
    background-color: black;
    color: turquoise;
    border-width: 5px;
    border-style: solid;
    border-color: silver;
    font-family: inherit;
}